/*layout elements*/

BODY {
margin:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:1em;
color:#000000;
}

div#container { /*Outer Container for pages*/
width:949px;
border:1px solid #940000;
margin:0px auto;
background:url(../images/bg_fullpage.gif) top center repeat-y;
}

div#containerfix { /*Inner Container for pages*/
width:949px;
margin:0px auto;
background:url(../images/containerfix.png) top left repeat-y;
}

/*Header*/

div#head { /*Header block*/
position:relative;
width:949px;
height:125px;
background-color:#940000;
border-bottom:4px solid #fa7a21;
}

div#head img#head_logo { /*Logo on the left of Header block*/
position:absolute;
top:3px;
width:304px;
height:112px;
}

div#head_right { /*Right Side of the Header block*/
width:644px;
height:125px;
position:absolute;
top:0px;
left:305px;
background:url(../images/bg_head.gif) top left no-repeat;
}

div#head_text { /*Date and Location box in Right Side of the Header block*/
text-align:right;
position:absolute;
top:5px;
right:5px;
font-size:14px;
color:#ffffff;
}

div#head_text .conference_location { /*Location part of the Date and Location box*/
font-weight:bold;
}

div#head_text .date { /*Date part of the Date and Location box*/
font-style:italic;
margin-left:20px;
}

div#head_logos { /*Title and Logo box in Right Side of the Header block*/
position:absolute;
top:26px;
left:0;
width:644px;
height:60px;
overflow:hidden;
}

div#head_logos A { /*Logo in the Title and Logo box in Right Side of the Header block*/
position:relative;
top:15%;
float:right;
margin-right:15px;
}

div#head_logos .conftitle { /*Title in the Title and Logo box in Right Side of the Header block*/
width:400px;
line-height:16px;
display:block;
position:relative;
top:6px;
left:20px;
text-align:justify;
font-size:14px;
font-weight:bold;
}

div#menu_top { /*Top Buttons box in Right Side of the Header block*/
position:absolute;
top:92px;
width:642px;
height:33px;
padding-left:2px;
}

div.menuitem_top { /*Button in the Top Buttons box in Right Side of the Header block*/
font-size:11px;
font-weight:bold;
padding-top:10px;
padding-left:16px;
margin-left:19px;
color:#ce2a0e;
float:left;
background:url(../images/menu_dot_top.gif) top left no-repeat;
}

div.menuitem_top A { /*Color of a Button in the Top Buttons box in Right Side of the Header block*/
color:#ce2a0e;
}

div.menu_separator_top { /*Separator of a Button in the Top Buttons box in Right Side of the Header block*/
height:33px;
width:33px;
background:url(../images/sep_menuitem_top.gif) top right no-repeat;
overflow:hidden;
float:left;
}

/*Left Menu*/

div#boxes_left { /*Left Menu box*/
float:left;
width:156px;
}

div.box { /*Section in the Left and Right Menu box*/
width:156px;
}

div.box_head { /*Title box of a Section in the Left and Right Menu box*/
width:156px;
height:21px;
text-align:left;
border-bottom:2px solid #fa7a21;
background:url(../images/bg_box_head.gif) top left no-repeat;
}

div.box_title { /*Title of the Title box of a Section in the Left and Right Menu box*/
position:relative;
top:4px;
left:20px;
font-size:11px;
font-weight:bold;
color:#ffffff;
}

.menu_left { /*Links box of a Section in the Left and Right Menu box*/
background:#fff2e9;
padding:7px 0px 15px 0px;
}

div.menuitem_left { /*Single Link in the Links box of a Section in the Left and Right Menu box*/
background:url(../images/menu_arrow_left.gif) top left no-repeat;
font-size:11px;
line-height:14px;
padding:4px 10px 1px 24px;
color:#940000;
}

div.menuitem_left A { /*Color of a Single Link in the Links box of a Section in the Left and Right Menu box*/
color:#940000;
}

div.menu_separator_left { /*Separator of Single Links in the Links box of a Section in the Left and Right Menu box*/
height:1px;
width:156px;
background:url(../images/sep_menuitem_left.gif) top left no-repeat;
overflow:hidden;
}

/*Content*/

div#content { /*Content box*/
position:relative;
left:37px;
float:left;
width:563px;
margin-top:27px;
padding-bottom:15px;
font-size:0.8em;
color:#111;
}

div#fontsizer { /*Font Sizer box*/
float:right;
position:relative;
top:-20px;
right:-10px;
font-size:11px;
}

div#fontsizer IMG { /*Images in Font Sizer box*/
position:relative;
border:0;
top:2px;
}