/*Content*/

/*General elements*/

H1 { /*Title of a page*/
font-size:1.6em;
text-align:center;
font-weight:bold;
color:#000;
margin:0 50px 0.5em 50px;
padding:0px;
}

HR { /*Horizontal Line*/
height:0;
border:none;
padding:3px 0 3px 0;
border-bottom:1px solid #c0c0c0;
}

div#content IMG.bordered { /*bordered Image*/
padding:2px;
border:1px solid #c0c0c0;
}

div#content A, div#content P A { /*Anchors*/
cursor:auto;
font-weight:bold;
color:#0066cc;
font-size:1em;
text-decoration:none;
}

div#content A:hover, div#content P A:hover { /*Anchors*/
text-decoration:none;
color:#0066cc;
cursor:pointer;
}

/*General Styles*/

div#content .red { /*Red text*/
color:red;
}

div#content .green { /*Green text*/
color:green;
}

div#content STRONG, div#content B { /*Bold text*/
font-weight:bold;
color:#000;
}

div#content .centered, div#content P.centered  { /*to make something centered*/
text-align:center;
margin:0 auto;
}

div#content .italic { /*Italic text*/
font-style:italic;
}

.padding { /*padding for some things*/
margin:15px;
}

/*Paragraphs*/

div#content P { /*Paragraphs*/
padding:0;
margin:0.5em 0 1em 0;
display:block;
text-align:justify;
}

div#content P.webmasternote { /*Webmaster notes on the top of each page*/
display:block;
line-height:20px;
padding:10px;
text-align:left;
background:#ffff66;
border:1px solid black;
}

div#content P.section { /*Section Titles*/
font-size:1.4em;
padding:0;
margin:1.2em 0 0 0;
font-weight:bold;
color:#4088b8;
}

div#content P.sub { /*Sub-Section Titles*/
color:#4088b8;
font-family:Helvetica, Arial, Times New Roman, sans-serif;
font-weight:bold;
display:inline;
background:#ffffff;
border-bottom:1px solid #c0c0c0;
border-top:1px solid #c0c0c0;
border-right:1px solid #c0c0c0;
border-left:20px solid #c0c0c0;
padding:1px 10px 1px 20px;
position:relative;
top:5px;
line-height:1.9em;
}

/*Lists*/

div#content UL, div#content OL { /*Lists*/
margin:1em;
padding:0;
}

div#content UL LI { /*Unordered List Items*/
margin:0.5em 0.5em 0.5em 2em;
list-style-image:url(../images/listing_blue.png);
padding-left:0.2em;
}

div#content OL LI { /*Ordered List Items*/
margin:3px 5px 13px 22px;
padding-left:6px;
}

/*Tables*/

div#content TABLE { /*Tables*/
margin:0.5em;
}

div#content TABLE TH { /*Table Headers*/
text-align:center;
font-size:14px; 
width:33%; 
padding:6px;
background-color:#4088b8 ! important; 
font-weight:bold;
color:#ffffff;
}

div#content TABLE TR TD { /*Table TDs*/
vertical-align:top;
text-align:left;
}

div#content TABLE.padded TR TD { /*Table TDs with more padding*/
padding:6px;
border-bottom:6px solid #fff;
}

div#content TABLE TR.darktr TD { /*Table dark rows*/
background:#c0c0c0;
}

div#content TABLE TR TD.darktd { /*Dark TDs on top of some pages*/
background:#ccc;
text-align:center;
vertical-align:middle;
padding:5px 15px 5px 15px;
}

div#content TABLE TR TD.lighttd { /*Light TDs on top of some pages*/
background:#dddddd;
vertical-align:middle;
text-align:center;
padding:5px 15px 5px 15px;
}

div#content TABLE TR TD.lighttd A, #content TABLE TR TD.darktd A { /*Color of Anchors in Light + Dark TDs on top of some pages*/
color:#000;
}

div#content TABLE TR TD.lighttd A:hover, #content TABLE TR TD.darktd A:hover { /*Color of Anchors on Hover in Light + Dark TDs on top of some pages*/
color:#fff;
}

div#content TABLE TR TD.tdlarge { /*Width of large TDs*/
width:40%;
}

div#content TABLE TR TD.tdmed { /*Width of medium TDs*/
width:30%;
}

div#content TABLE TR TD.tdsmall { /*Width of small TDs*/
width:25%;
}

div#content .gototop { /*Gototop link*/
float:right;
}

div#content TABLE.program { /*Table for the Technical Program*/
border:1px solid #cccc99;
font:normal 12px Helvetica, Arial, Verdana, sans-serif;
}

div#content TABLE.program TH { /*Header of Table for the Technical Program*/
text-align:center;
color:#fff;
padding:5px;
width:auto;
background:#336699;
letter-spacing:1px;
font:normal 14px Helvetica, Arial, Verdana, sans-serif;
}

div#content TABLE.program TD { /*TDs of Table for the Technical Program*/
padding:5px;
color:#000;
background:#fff;
}

div#content TABLE.program TR TD.time { /*Time in the Table for the Technical Program*/
padding:5px;
width:50px;
font-weight:bold;
border-right:1px solid #cccc99;
}

div#content TABLE.program .session { /*Session in the Table for the Technical Program*/
background:#f5e7b1;
margin-bottom:10px;
vetical-align:middle;
color:#333;
font:normal 12px Helvetica, Arial, Verdana, sans-serif;
border:1px solid #d4b640;
padding:5px;
}

div#content TABLE.program .session B { /*Bold text in Session in the Table for the Technical Program*/
font:bold 12px Helvetica, Arial, Verdana, sans-serif;
margin-bottom:10px;
vetical-align:middle;
padding:5px;
}

div#content TABLE.program .track { /*Track in the Technical Program*/
padding-left:10px;
border-left:40px solid #c1af86;
background:#e2e1e0;
border-bottom:1px solid #c1af86;
font:bold 12px Helvetica, Arial, Verdana, sans-serif;
}

.pitem { /*Item in the Track in the Technical Program*/
vetical-align:middle;
color:#666666 ! important;
margin-bottom:5px;
font-size:12px;
padding:3px 3px 3px 10px;
background-color:#eeeeee;
border:1px solid #a5a5a5;
}

.pitem .ptitle { /*Item Title of the Item in the Track in the Technical Program*/
font:bold 12px Helvetica, Arial, Verdana, sans-serif;
color:#664646 ! important;
padding-bottom:15px;
}

.pauthors { /*Author of the Item in the Track in the Technical Program*/
font:bold normal 11px Helvetica, Arial, Verdana, sans-serif;
color:#1e1e1e ! important;
}
